﻿@model IEnumerable<UsersWithEmails.Controllers.DTOs.PersonDTO>

@{
    ViewData["Title"] = "View";
}

<h1>Person table</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="GeneratePersons">Generate records</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.FirstEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FirstEmail) <a asp-controller="Email" asp-action="GetEmailForUser" asp-route-id="@item.Id">Edit</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
