﻿@using System.Web;
@model IEnumerable<UsersWithEmails.Controllers.DTOs.EmailDTO>

@{
    ViewData["Title"] = "View";
}

<h1>Person email adresses</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.PersonId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
